@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-secondary: #f8fafc;
  --color-text: #0f172a;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
